@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    text-decoration: none;
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #ffffff;
    text-align: center;
    height: 100vh;
}
.head{
    display:flex;
    height:100px;
    justify-content: space-evenly;
    max-width: 1280px;
    align-items: center;
}
.logo{
    display: flex;
    text-align: center;
}
.logo-txt{
    font-size: 1.5rem;
    font-weight: bold;
    color:#333333;
    margin-top: 1rem;
}

.logo-img{
    margin-right: 0.55rem;
    height: 4rem;
    width: 1.6rem;
}
.head-nav{
    display: flex;
    width:22rem;
    justify-content: space-evenly;
}
@media screen and (max-width:628px){
    .head-nav{
        display:none;
    }
    .head{
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 1.5rem;
    }
}
.head-nav a{
    color:#718096;
    font-weight: 600;
    font-size: 0.85rem;
}
.head-nav a:hover{
    color:#2563eb;
}
.head-contact{
    background-color: #6366F1;
    border-radius: 0.375rem;
    color:#ffffff;
    padding: 0.65rem;
    font-size: 1rem;
    font-weight: 500;
}
.head-Contact{
    color:#ffffff;
}
.head-contact:hover{
    background-color:#5254f8;
}
@media screen and (max-width:628px){
    .head-contact{
        display:none;
    }
}
.head-menu{
    display: none;
    height: 2rem;
    width: 2rem;
    border:none;
    background-color: #ffffff;
    font-size: 1.5rem;
}
@media screen and (max-width:628px){
    .head-menu{
        display:block;
    }
}
/*nav bar styling done till here*/

.hero-section-1{
    display: flex;
    height: 400px;
    max-width: 1280px;
    flex-direction: column;
    justify-content: center;
}
.hero-section1-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section-1-img{
    box-shadow: 0px 4px 8px rgba(0,0, 0,0.1);
    height:300px;
    width:300px;
}
.section1-img{
    background-size: cover;

    height:100%;
    width:100%;
    border-radius: 1.225rem;
}
.hero-section-1-txt{
    text-align: center;
    animation: slidefromleft 2s ease forwards;
}
@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-section-1-buttons{
    background-color: #ffffff;
    border: none;
    display: flex;
    margin:1rem;
    justify-content: center;
    align-items: center;
}
.start-button{
    color: #ffffff;
    background-color: #6366F1;
    border-radius: 0.375rem;
    padding: 0.5rem;
    width: 4rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}
.tour-button{
    background-color:#555;
    color:#ffffff;
    font-size: 0.8rem;
    border-radius: 0.375rem;
    padding: 0.5rem;
    width: 4rem;
    margin-left: 0.5rem;
}
.section1-txt1{
    color:#6366F1;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.section1-txt2{
    font-size: 2rem;
    color:#333333;
}
.section1-txt3{
    color: #808080;
    font-size: 1rem;
    margin-top:1.5rem;
}
.start-button:hover{
    background-color:#5254f8;
}
.tour-button:hover{
    background-color: #808080;
}
@media screen and (min-width:628px){
    .hero-section-1{
        flex-direction: row;
        padding-right:9rem;
        padding-left: 5rem;
    }
    .hero-section-1-txt{
        width: 50%;
        text-align: left;
        margin-left: 10%;
        align-items: center;
        margin-top: 4rem;
    }
    .section1-txt1{
        padding-left: 0.1rem;
        font-size: 0.75rem;
        margin-bottom: 0.8rem;
    }
    .hero-section-1-buttons{
        justify-content: left;
        margin-left: 0;
    }
    .section1-txt2{
        font-size: 2.25rem;
        width:100%;
    }
    .hero-section-1-img{
        height: 62vh;
        width:350px;
        justify-content: none;
    }
    .section1-txt3{
        font-size: 0.8rem;
        width:75%;
    }
}
@media screen and (max-width:628px){
    .content{
        margin-top:100px;
    }
    .hero-section-1-buttons{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
.Trusted{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Trusted-heading{
    color:#333333; 
    margin-bottom: 1rem;
}
.company-container{
    height: 8rem;
    width:22rem;
    background-color:#f0f0f0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 0.625rem;
}
.company-logo{
    font-size: 1.1rem;
    font-weight: 400 ;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1.2rem;
    color:#808080;
}
.company-logo p{
    margin-left: 0.5rem;
    color:#808080;
}
@media screen and (min-width:630px){
    .company-container{
        grid-template-columns: repeat(4,1fr);
        width:45%;
        height:5rem;
    } 
    .company-logo{
        font-size: 0.9rem;
    }
    .Trusted{
        margin-top: 1.5rem;
    }
}
@media screen and (min-width:950px) and (max-width:1050px){
    .company-container{
        width:50%;
    }
}
@media screen and (min-width:630px) and (max-width:950px){
    .hero-section-1-txt{
        margin-top:0;
    }
    .Trusted{
        margin-top:5rem;
    }
    .company-container{
        width:55%;
    }
}
@media screen and (min-width:630px) and (max-width:840px){
    .Trusted{
        margin-top:8rem;
    }
    .company-container{
        width:70%;
    }
}
.card-container{
    margin-top: 2rem;
    padding:2rem 0;
    text-align: center;
    background-color: #f0f0f0;
}
.card-feature{
    max-width:700px;
    margin:0 auto;
    padding: 0 2rem;
}
.card-container-heading h2{
    font-size: 1.7rem;
}
.card-container-heading p{
    color:#808080;
    font-size: 0.87rem;
    padding-top:1rem;
    padding-bottom: 1.5rem;
}
.cards-contain{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.card-img{
    height:1.5rem;
    width:1.5rem;
}
.card-img-container{
    background-color: #ffffff;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card-displayy{
    display: flex;
    flex-direction: column;
    background-color:#4a90e2;
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
    padding:1rem;
    color:#ffffff;
    height:9rem;
}
.card-heading{
    font-weight: 700;
    padding:0.75rem;
}
.card-descrp{
    font-size: 0.87rem;
}
.card-img-container-special{
    color:green;
    background-color: #ffffff;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.a{
    background-color:#ff6289;
}
.b{
    background-color:#fcbf58;
}
.c{
    background-color:#44bfc3;
}
.d{
    background-color:#77b05d;
}
.e{
    background-color:#7d78b1;
}
@media screen and (max-width:630px){
    .cards-contain{
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonial{
    margin-top: 2rem;
    padding: 0 2rem;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading{
    font-size: 1.3rem;
}
.testimonials{
    margin-top:1rem;
    display: grid;
    gap:0.75rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    width:80%;
}
.testimonial-box{
    border: 1px solid rgb(218, 215, 215);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-box:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}
.box-txt1{
    font-size: 0.75rem;
    color:rgb(92, 90, 90)
}
.box-img img{
    height: 3.5rem;
    padding:0.5rem;
    width:3.5rem;
}
.abc{
    color: #5254f8;
    font-weight: bold;
    font-size: 0.9rem;
}
.bcd{
    color:#808080;
    font-size: 0.68rem;
    font-weight: 500;
}